<main>
    <section class="form-section">
        <img class="logo"src="/assets/svg/logo.svg"/>
       <h2>{{ title }}</h2>
       <ng-content></ng-content>
       <div class="btn-wrapper">
            <button 
                class="btn-primary" 
                (click)="submit()"
                [disabled]="disablePrimaryBtn"
            >
                {{ primaryBtnText }}
            </button>
            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="btn-secondary" (click)="navigate()">{{ secondaryBtnText }}</button>
       </div>
    </section>
    <section class="main-section">
        <div id="joao-name">
            <h1 id="jp">João Pedro</h1>
            <h4 id="sp">Sorrentino Pereira</h4>
          </div>
    </section>
</main>
